@model IEnumerable<WebApplication3.Models.Firma>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirmaAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmaTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmaAdres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirmaAd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmaTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmaAdres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FirmaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FirmaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FirmaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
