@model WebApplication3.Models.Yolcu

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Yolcu</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YolcuAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YolcuAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YolcuTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YolcuTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Otobus_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otobus_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.YolcuID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
