@model WebApplication3.Models.Otobus

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Otobus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plaka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plaka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rota)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtobusKapasite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtobusKapasite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firma.FirmaID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OtobusID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
