@model WebApplication3.Models.Garaj

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Garaj</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GarajAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GarajAdres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GarajKapasite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GarajKapasite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firma.FirmaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GarajID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
