@model IEnumerable<WebApplication3.Models.Garaj>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GarajAdres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarajKapasite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Firma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GarajAdres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarajKapasite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Firma.FirmaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GarajID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GarajID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GarajID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
